.nav-header{
	& a{
		text-indent: -9999px;
		width: 115px;
		height: 41px;
		margin: 31.5px 0 31.5px 41px;
		displat: inline-block;
		font-family: 'lab-regular';
		color: color-system-neutral-lightest;
		font-size: 1.6em;
		cursor: pointer;
	}
}