.intro-container{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

	.intro-container--header{
		h1 { 
			font-size: 2em
		}
	}
}