color-brand-purple            ?= #70346A
color-brand-yellow            ?= #FDDA00
color-brand-pink              ?= #EB3C95
color-brand-blue              ?= #5166AA
color-brand-red               ?= #E7412E
color-brand-green             ?= #05A491
color-brand-neutral-lightest  ?= #FFFFFF
color-brand-neutral-lighter   ?= #C8C9C7
color-brand-neutral           ?= #97999B
color-brand-neutral-darker    ?= #63666A
color-brand-neutral-darkest   ?= #000000

color-viz-yellow              ?= color-brand-yellow
color-viz-orange              ?= #EB9329
color-viz-red                 ?= color-brand-red
color-viz-pink                ?= color-brand-pink
color-viz-fuschia             ?= #BE2986
color-viz-purple              ?= color-brand-purple
color-viz-blue-light          ?= #789FD7
color-viz-blue                ?= color-brand-blue
color-viz-blue-dark           ?= #2B388F
color-viz-green-light         ?= color-brand-green
color-viz-green               ?= #007C63
color-viz-green-dark          ?= #005E43

color-system-link             ?= #3D8FEB
color-system-tag-token        ?= #789AFF
color-system-success          ?= #8FCF8F
color-system-code-editing     ?= #FDEC7E
color-system-warning          ?= #F8AE5C
color-system-error            ?= #F67264
color-system-neutral-darkest  ?= #282d33
color-system-neutral-darker   ?= #3F454E
color-system-neutral-dark     ?= #525A66
color-system-neutral-medium   ?= #989FA9
color-system-neutral          ?= #C5CFDB
color-system-neutral-light    ?= #F5F5F5
color-system-neutral-lighter  ?= #FCFCFC
color-system-neutral-lightest ?= color-brand-neutral-lightest
