@charset "UTF-8";

@font-face {
    font-family: LabGrotesque-Light;
    font-style: normal;
    font-weight: normal;
    src: url(./webfonts/LabGrotesque-Light.eot) format("eot"), url(./webfonts/LabGrotesque-Light.woff2) format("woff2"), url(./webfonts/LabGrotesque-Light.woff) format("woff")
}

@font-face {
    font-family: LabGrotesque-Regular;
    font-style: normal;
    font-weight: normal;
    src: url(./webfonts/LabGrotesque-Regular.eot) format("eot"), url(./webfonts/LabGrotesque-Regular.woff2) format("woff2"),url(./webfonts/LabGrotesque-Regular.woff) format("woff")
}

@font-face {
    font-family: LabGrotesque-Bold;
    font-style: normal;
    font-weight: normal;
    src: url(./webfonts/LabGrotesque-Bold.eot) format("eot"), url(./webfonts/LabGrotesque-Bold.woff2) format("woff2"),url(./webfonts/LabGrotesque-Bold.woff) format("woff")
}

@font-face {
    font-family: ChronicleDisp-Roman;
    font-style: normal;
    font-weight: normal;
    src: url(./webfonts/ChronicleDisp-Roman.woff2) format("woff2"), url(./webfonts/ChronicleDisp-Roman.woff) format("woff"), url(./webfonts/ChronicleDisp-Roman.otf) format("otf"), url(./webfonts/ChronicleDisp-Roman.ttf) format("ttf")
}

letter-spacing ?= '1px'
lab-light ?= LabGrotesque-Light, Helvetica, Arial, sans-serif;
lab-regular ?= LabGrotesque-Regular, Helvetica, Arial, sans-serif;
lab-bold ?= LabGrotesque-Bold, Helvetica, Arial, sans-serif;
chronicle-bold ?= ChronicleDisp-Roman, Georgia, sans-serif;
